<!DOCTYPE html>
<html>
<head>
{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/my-respond.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
</head>
<body>
<div id="header">
	{% block header %}
	<a href="/">AppJam</a>
	{% endblock %}
</div>
<div class="main-cover">
{% block main %}
{% endblock %}
</div>
<div id="footer">
	<p>Copyright 2016 Smarteen AppClub &amp SK Planet.</p>
</div>
</body>
</html>